<div class="container">
    <h1>Our Services</h1>
    <p>At RevTaskManagement, we offer a range of services to cater to different user roles and their specific requirements.</p>
    <img src="https://info.ehl.edu/hubfs/Blog-EHL-Insights/Blog-Header-EHL-Insights/service%20design.jpeg" alt="RevTaskManagement">
    <h2>For Users</h2>
    <ul>
      <li>Secure Account Management: Create and manage your accounts with ease. Update your profile as needed.</li>
      <li>Personal Task Management: Create, edit, view, and delete your tasks. Organize them into categories and set priorities to stay on top of your schedule.</li>
      <li>Milestone Tracking: Define and manage milestones to track your task progress effectively.</li>
      <li>Task Delegation: Assign tasks to others and keep track of their progress.</li>
      <li>Organizational Tools: Utilize labels, categories, and sorting options to keep your tasks organized and easy to manage.</li>
      <li>Notifications: Stay informed with timely notifications for upcoming tasks and deadlines.</li>
    </ul>
  
    <h2>For Admins</h2>
    <ul>
      <li>User Account Management: Create, update, and deactivate user accounts (Project Managers and Team Members). Assign appropriate access levels to ensure secure and efficient task management.</li>
      <li>Reporting Tools: Access comprehensive reporting tools to monitor user activity and track task completion, helping you stay informed and make data-driven decisions.</li>
    </ul>
  
    <h2>For Project Managers</h2>
    <ul>
      <li>Client and Project Management: Manage client information and project details, including tasks completed and effort invested. Ensure that team members are allocated appropriately for project success.</li>
      <li>Team Management: Add team members to projects and assign tasks based on historical data to predict the estimated effort required for each task.</li>
      <li>Secure Login: Log in securely and reset passwords as needed.</li>
    </ul>
  
    <h2>For Team Members</h2>
    <ul>
      <li>Project Access: Log in securely to access the project</li>

    </ul>
  </div>